#nav {

  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(65, 65, 65, 0.2);
  background-color: white;

  .far {
    margin-top: 20px;
    color: grey;
    cursor: pointer;
    &:active {
      color: #262D3F;
    }
  }

  ul {
    li {
      color: grey;
      list-style-type: none;
      display: inline;
      margin: 5px 17px;
      font-size: 18px;
      cursor: pointer;

      &:active {
        color: #262D3F;
      }
    }
  }

}
