

.categories {
  h2{
    font-size: calc(1.5rem + 0.2vw);
  }
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  background-color: #262D3F;
  color: rgb(197, 197, 197);

  li {
    list-style-type: none;
    padding: 10px 0;

    span {
      margin-left: 15px;
    }

    &:hover {
      background-color: #313849;
      border-radius: 8px;
      color: white;
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 991px) {

 .categories{
   height: fit-content !important;
 }
}


